* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    background: #0cc;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 150px;
    /* +++++++++++++++++++ */
    /* position: fixed; */
    /* +++++++++++++++++++ */
}

.shape {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 200px;
    left: 10%;
    top: 60px;
    background: #ff5d89;
    transition: 0.3s all ease;
    -webkit-animation: moveboat 25s infinite;
    /* Chrome, Safari, Opera */
    animation: moveboat 25s infinite;
    -webkit-clip-path: polygon(92% 100%, 100% 90%, 71% 6%, 75% 85%, 100% 90%, 70% 90%, 70% 0, 24% 92%, 63% 90%, 17% 89%, 17% 50%, 0 90%, 11% 90%, 23% 100%);
    clip-path: polygon(92% 100%, 100% 90%, 71% 6%, 75% 85%, 100% 90%, 70% 90%, 70% 0, 24% 92%, 63% 90%, 17% 89%, 17% 50%, 0 90%, 11% 90%, 23% 100%);
    transition: .3s all ease;
}

.cloudone {
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 200px;
    left: 0;
    top: 18px;
    background: #fff;
    -webkit-animation: movecloudone 50s infinite;
    -webkit-clip-path: polygon(90% 100%, 55% 44%, 44% 60%, 35% 29%, 22% 18%, 15% 69%, 26% 100%);
    clip-path: polygon(90% 100%, 55% 44%, 44% 60%, 35% 29%, 22% 18%, 15% 69%, 26% 100%);
}

.cloudtwo {
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 220px;
    left: 100%;
    top: 22px;
    background: #fff;
    -webkit-animation: movecloudtwo 50s infinite;
    -webkit-clip-path: polygon(90% 100%, 55% 44%, 44% 60%, 35% 29%, 22% 18%, 15% 69%, 26% 100%);
}

.land {
    position: absolute;
    display: inline-block;
    height: 150px;
    width: 200%;
    left: 110%;
    top: 70px;
    background: #afa;
    -webkit-animation: moveland 50s infinite;
    animation: moveland 50s infinite;
    -webkit-clip-path: polygon(100% 100%, 0 100%, 0 50%, 11% 0, 14% 19%, 19% 9%, 33% 48%, 39% 35%, 49% 49%, 60% 32%, 66% 52%, 77% 66%, 88% 63%, 100% 52%);
    clip-path: polygon(100% 100%, 0 100%, 0 50%, 11% 0, 14% 19%, 19% 9%, 33% 48%, 39% 35%, 49% 49%, 60% 32%, 66% 52%, 77% 66%, 88% 63%, 100% 52%);
}

.background:hover .shape {
    -webkit-clip-path: polygon(50% 100%, 80% 75%, 99% 40%, 100% 25%, 90% 10%, 75% 4%, 60% 10%, 50% 24%, 40% 10%, 25% 4%, 10% 10%, 0 25%, 1% 40%, 20% 75%);
    clip-path: polygon(50% 100%, 80% 75%, 99% 40%, 100% 25%, 90% 10%, 75% 4%, 60% 10%, 50% 24%, 40% 10%, 25% 4%, 10% 10%, 0 25%, 1% 40%, 20% 75%);
    animation: heart 1s infinite;
    left: 40%;
}

@-webkit-keyframes moveboat {
    0% {
        left: 10%
    }
    100% {
        left: 90%;
    }
}

@keyframes moveboat {
    0% {
        left: 10%;
    }
    100% {
        left: 90%;
    }
}

@-webkit-keyframes moveland {
    0% {
        left: 0%
    }
    100% {
        left: -100%;
    }
}

@keyframes moveland {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

@-webkit-keyframes movecloudone {
    0% {
        left: 100%
    }
    100% {
        left: -500px;
    }
}

@keyframes movecloudone {
    0% {
        left: 100%;
    }
    100% {
        left: -500px;
    }
}

@-webkit-keyframes movecloudtwo {
    0% {
        left: 50%
    }
    100% {
        left: -50px;
    }
}

@keyframes movecloudtwo {
    0% {
        left: 50%;
    }
    100% {
        left: -50px;
    }
}

@-webkit-keyframes heart {
    0% {
        height: 200px;
        width: 200px;
    }
    50% {
        height: 210px;
        width: 210px;
    }
    100% {
        height: 200px;
        width: 200px;
    }
}

@keyframes heart {
    0% {
        height: 200px;
        width: 200px;
    }
    50% {
        height: 210px;
        width: 210px;
    }
    100% {
        height: 200px;
        width: 200px;
    }
}

section {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ff5d89;
    margin-bottom: 150px;
    z-index: 2;
    /* position: fixed; */
}


/* footer */
footer {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    z-index: 1;
}

.fot {
    height: 150px;
    background-color: lightpink;
    position: relative;
}

.fot .hello {
    font-size: 3em;
    text-align: center;
    padding-top: 5px;
}

.fot .copyright {
    line-height: 5px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
